@import url('https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Grenze", serif;
}

/* Logo designing */
.logo{
  font-family: "Grenze Gotisch", serif;
  background-image: linear-gradient(to right, #65A9B2, #00E1FF);
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text fill transparent to show the gradient */
  background-clip: text; /* Standard property for non-webkit browsers */
  text-fill-color: transparent; /* Standard property for non-webkit browsers */
  font-size: 28px;
}
.logo-lg{
  font-size: 33px;
}
footer {
  background-color: #090B0E;
  height: 200px;
}
input{
  height: 50px;
}

aside{
  /* fixed top-0 left-0 w-[20%] h-[100vh] bg-[#000]  */
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background: #000;
  padding-top: 30px;
}
.main{
  margin-left: 20%;
  padding: 20px;
}

.active{
  /* color: green; */
  width: 45%;
  height: 2px;
  float: right;
  margin-right: 15%;
  background-color: #65A9B2;
  border-radius: 10px;
}

.not-active{
  /* color: green; */
  width: 45%;
  height: 2px;
  float: right;
  margin-right: 15%;
  background-color: #000;
}

.list{
  margin-top: 35px;
  font-size: 20px;
}